/* =========================
   CONFIGURACIÓN GENERAL
========================= */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff9f7;
    font-family: Arial, Helvetica, sans-serif;
    color: #171717;
}


/* =========================
   NAVBAR
========================= */

.navbar {
    height: 64px;
    background-color: #ffffff !important;
}

.menu-icon {
    color: #b64b00;
    font-size: 18px;
    cursor: pointer;
}

.logo {
    color: #a94300 !important;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #292929;
    font-size: 13px;
    font-weight: 500;
}

.nav-links a:hover {
    color: #b64b00;
}


/* =========================
   TÍTULO
========================= */

.section-title {
    font-size: 16px;
    font-weight: 700;
}


/* =========================
   TARJETAS DE PRODUCTOS
========================= */

.product-card {
    background-color: #ffffff;
    border-radius: 9px;
    min-height: 101px;
    padding: 10px;
    display: flex;
    align-items: stretch;
    box-shadow: 0 3px 12px rgba(90, 50, 30, 0.05);
}


/* Imagen */
.product-image {
    width: 80px;
    height: 80px;

    flex-shrink: 0;

    overflow: hidden;

    border-radius: 4px;
}

.product-image img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}


/* Información */

.product-info {
    flex: 1;
    padding-left: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info h5 {
    margin: 1px 0 2px;

    font-size: 16px;
    font-weight: 700;
}

.product-info p {
    margin: 0;

    color: #765d54;

    font-size: 11px;
}


/* Botón eliminar */

.delete-btn {
    border: none;
    background: transparent;

    font-size: 22px;
    font-weight: 300;

    color: #4d403c;

    cursor: pointer;

    line-height: 20px;
}

.delete-btn:hover {
    color: #b64300;
}


/* Parte inferior */

.product-bottom {
    display: flex;

    align-items: center;

    justify-content: space-between;
}

.product-bottom strong {
    color: #b74300;
    font-size: 14px;
}


/* =========================
   CONTROL DE CANTIDAD
========================= */

.quantity {
    display: flex;

    align-items: center;

    background-color: #ffe8df;

    border-radius: 20px;

    height: 27px;

    padding: 0 5px;
}

.quantity button {
    width: 25px;
    height: 25px;

    border: none;

    background: transparent;

    color: #9d3e00;

    font-size: 15px;

    cursor: pointer;
}

.quantity span {
    width: 20px;

    text-align: center;

    font-size: 12px;
}


/* =========================
   COMPLETA TU MENÚ
========================= */

.extras {
    background-color: #fff0eb;

    border: 1px solid #f6dcd1;

    border-radius: 8px;

    padding: 16px;

    margin-top: 35px;
}

.extras-title {
    color: #171717;

    font-size: 10px;

    font-weight: 700;

    margin-bottom: 10px;
}

.extras-buttons {
    display: flex;

    flex-wrap: wrap;

    gap: 10px;
}

.extra-btn {
    background-color: white;

    border: 1px solid #efcfc1;

    border-radius: 20px;

    padding: 5px 12px;

    font-size: 11px;

    color: #4d3b34;

    cursor: pointer;
}

.extra-btn strong {
    color: #171717;

    font-size: 13px;

    margin-left: 10px;
}

.extra-btn:hover {
    border-color: #b54a00;
}


/* =========================
   RESUMEN DEL PEDIDO
========================= */

.summary-card {
    background-color: #ffffff;
    border-radius: 9px;
    padding: 18px 15px;
    box-shadow: 0 4px 15px rgba(80, 40, 20, 0.05);
    min-height: 290px;
}

.summary-card h4 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.summary-card hr {
    border: 0;

    border-top: 1px solid #f2ded7;

    margin: 10px 0 14px;
}


/* Filas */

.summary-row {
    display: flex;

    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    font-size: 12px;
    color: #76546c;
}

.summary-row strong {
    color: #171717;

    font-size: 13px;
}


/* =========================
   TOTAL
========================= */

.total-row {
    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-top: 15px;

    margin-bottom: 20px;
}

.total-row span {
    font-size: 16px;

    font-weight: 700;
}

.total-row strong {
    color: #b44700;

    font-size: 22px;

    font-weight: 700;
}


/* =========================
   BOTÓN PAGAR
========================= */

.checkout-btn {
    width: 50%;
    border: none;
    background-color: #b74700;
    color: white;
    border-radius: 50px;
    height: 35px;
    font-size: 21px;
    font-weight: 70;
    box-shadow: 0 3px 8px rgba(183, 71, 0, 0.25);
    cursor: pointer;
}

.checkout-btn span {
    font-size: 18px;

    margin-left: 8px;

    vertical-align: middle;
}

.checkout-btn:hover {
    background-color: #963b00;
}


/* =========================
   PAGO SEGURO
========================= */

.secure-payment {
    text-align: center;

    color: #856c64;

    font-size: 9px;

    margin-top: 20px;
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 991px) {

    .summary-card {
        margin-top: 10px;
    }

}


@media (max-width: 576px) {

    .navbar {
        height: auto;

        padding-top: 10px;
        padding-bottom: 10px;
    }

    .logo {
        font-size: 25px;
    }

    .product-card {
        min-height: 110px;
    }

    .product-image {
        width: 70px;
        height: 70px;
    }

    .product-info h5 {
        font-size: 14px;
    }

    .product-info p {
        font-size: 10px;
    }

    .extras {
        margin-top: 20px;
    }

    .extra-btn {
        width: 100%;
        text-align: left;
    }

}