/* =================================
   CONFIGURACIÓN GENERAL
================================= */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff9f7;
    color: #161616;
}


/* =================================
   NAVBAR
================================= */

.navbar {
    height: 44px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.08);
    z-index: 1000;
}

.logo {
    color: #ad4a00 !important;
    font-size: 30px;
    font-weight: 800;
    line-height: 1;
}

.nav-link {
    color: #262626 !important;
    font-size: 15px;
    font-weight: 600;
}

.nav-link.active {
    color: #b44900 !important;
}

.notification {
    width: 30px;
    height: 30px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #222;

    text-decoration: none;
}

.notification:hover {
    background-color: #fff0e8;
}


/* HERO*/

.her {
    height: 600px;

    margin-top: 44px;
    position: relative;
    background-image: url("fotos/elcielo-restaurant-bogota.jpg");
    background-size: cover;
    background-position: center;
}


/* Oscurecer imagen */
.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.52);
}


/* Contenido */
.hero-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Título */

.hero-title {
    color: white;

    font-size: 46px;

    font-weight: 800;

    line-height: 1.15;

    margin-bottom: 18px;
}


/* Texto */
.hero-text {
    color: white;
    font-size: 15px;
    line-height: 1.5;
    max-width: 650px;
    margin: 0 20px;
}


/* Botón pedir */
.btn-pedir {
    background-color: #ff6500;
    color: white;
    border-radius: 50px;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

.btn-pedir:hover {
    background-color: #e95700;
    color: white;
}


/* FAVORITOS */

.favoritos {
    background-color: #d6d6d6;
}

.section-title {
    font-size: 31px;
    font-weight: 800;
    color: #940303;
}


/* =================================
   PRODUCTOS
================================= */

.product-card {
    background-color: white;
    border-radius: 7px;
    overflow: hidden;
    height: 70%;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
}


/* Imagen de hamburguesa */
.product-image-big {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.product-image-big img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Imagen de papas */
.product-image-small {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.product-image-small img {
    width: 100%;
    height: 150%;
    object-fit: cover;
}


/* Información */
.product-body {
    padding: 9px 10px 8px;
    min-height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-body h3 {
    margin: 0 0 2px;
    font-size: 18px;
    font-weight: 700;
}

.product-body p {
    margin: 0;
    font-size: 16px;
    color: #7a5f55;
}


/* Parte inferior */

.product-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.product-footer strong {
    color: #aa4300;
    font-size: 20px;
}


/* Botón + */

.add-button {
    width: 26px;

    height: 26px;

    border: none;

    border-radius: 50%;

    background-color: #ff6500;

    color: white;

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 18px;

    cursor: pointer;
}

.add-button:hover {
    background-color: #dc5000;
}


/* POR QUÉ TOWSKAN */

.porque {
    background-color: #ffe0d3;
    padding: 30px 0 35px;
}

.porque .section-title {
    margin-bottom: 40px !important;
}


/* Iconos */
.feature-icon {
    width: 50px;
    height: 50px;
    margin: 0 auto 16px;
    border-radius: 50%;
    background-color: #ff6500;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}


/* Títulos */

.porque h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 7px;
}


/* Descripción */

.porque p {
    max-width: 270px;

    margin: 0 auto;

    color: #765e56;

    font-size: 18px;

    line-height: 1.5;
}


/* =================================
   FOOTER
================================= */

.footer {
    background-color: #402f29;

    color: white;

    padding: 28px 0 22px;
}

.footer-logo {
    color: white;

    font-size: 30px;

    font-weight: 800;

    margin-bottom: 10px;
}

.footer-description {
    max-width: 300px;

    font-size: 10px;

    line-height: 1.5;

    color: #eee0db;
}

.footer h3 {
    font-size: 16px;

    font-weight: 700;

    margin-bottom: 10px;
}

.footer p {
    margin:  6px;
    font-size: 13px;
    color: #eee0db;
}


/* Redes sociales */

.social-icons {
    display: flex;
    gap: 8px;
}

.social-icons a {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #72564b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 12px;
}

.social-icons a:hover {
    background-color: #ff6500;
}


/* =================================
   RESPONSIVE
================================= */

@media (max-width: 991px) {

    .navbar {
        height: auto;

        min-height: 55px;
    }

    .hero {
        margin-top: 55px;

        height: 400px;
    }

    .hero-title {
        font-size: 38px;
    }

    .nav-link {
        padding: 10px 0;
    }

    .notification {
        margin: 5px 0;
    }

}


@media (max-width: 576px) {

    .logo {
        font-size: 26px;
    }

    .hero {
        height: 420px;
    }

    .hero-title {
        font-size: 32px;
    }

    .hero-text {
        font-size: 12px;

        padding: 0 15px;
    }

    .section-title {
        font-size: 26px;
    }

    .product-image-big {
        height: 180px;
    }

    .product-image-small {
        height: 180px;
    }

    .porque {
        padding: 40px 0;
    }

    .footer {
        text-align: left;
    }

}